<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ujn.ch17.dao.SalesrecordMapper">
  <resultMap id="BaseResultMap" type="cn.edu.ujn.ch17.dao.Salesrecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="thingsName" jdbcType="VARCHAR" property="thingsname" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="method" jdbcType="BIT" property="method" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, telephone, thingsName, number, price, time,method
  </sql>
  <select id="selectByExample" parameterType="cn.edu.ujn.ch17.dao.SalesrecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from salesrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from salesrecord
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByTele" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from salesrecord
    where telephone = #{telephone,jdbcType=VARCHAR}
  </select>
  <select id="selectByThingsName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from salesrecord
    where thingsName = #{thingsName,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from salesrecord
  </select>
  <!--<select id="selectByMonth" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from salesrecord
    where
    time
    between #{time1,jdbcType=TIMESTAMP} and #{time2,jdbcType=TIMESTAMP}
  </select>-->
  <select id="selectByMonth" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from salesrecord
    where
    time
    between #{arg0,jdbcType=VARCHAR} and #{arg1,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from salesrecord
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.ujn.ch17.dao.SalesrecordExample">
    delete from salesrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.ujn.ch17.dao.Salesrecord">
    insert into salesrecord (id, telephone, thingsName, 
      number, price, time,method)
    values (#{id,jdbcType=INTEGER}, #{telephone,jdbcType=VARCHAR}, #{thingsname,jdbcType=VARCHAR}, 
      #{number,jdbcType=INTEGER}, #{price,jdbcType=REAL}, #{time,jdbcType=TIMESTAMP}, #{method,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.ujn.ch17.dao.Salesrecord">
    insert into salesrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="thingsname != null">
        thingsName,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="method != null">
        method,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="thingsname != null">
        #{thingsname,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="method != null">
        #{method,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.ujn.ch17.dao.Salesrecord">
    update salesrecord
    <set>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="thingsname != null">
        thingsName = #{thingsname,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.ujn.ch17.dao.Salesrecord">
    update salesrecord
    set telephone = #{telephone,jdbcType=VARCHAR},
      thingsName = #{thingsname,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL},
      time = #{time,jdbcType=TIMESTAMP},
      method = #{method,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>